

<div class="container">
  <div *ngFor="let deal of deals">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <img src="{{ pictureLink }}"  style="max-height: 300px; max-width: 300px;" onerror="this.src='https://image.prntscr.com/image/6J_CxVTlT06OFnmrGGebhg.png'" alt="deal picture loading..">
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <h3> <a href="{{ deal.url }}">{{deal.title}}</a><br></h3>
        <p>{{ linkdesc }}
        <br>
        Author: {{deal.owner}}<br>
          Created: {{ deal.created_at | date:'medium' }}
        </p>
        <h1>
          <i class="glyphicon glyphicon-thumbs-up"> </i>  {{ likes }}
          <i class="glyphicon glyphicon-thumbs-down"> </i> {{ dislikes }}
        </h1>
      </div>
    </div>
    <br>
  <button type="button" (click)="like()" [disabled]="!isloggedin()" class="btn btn-primary-outline btn-md"><i class="glyphicon glyphicon-thumbs-up"> Like </i> </button>
  <button type="button" (click)="dislike()" [disabled]="!isloggedin()" class="btn btn-primary-outline btn-md"><i class="glyphicon glyphicon-thumbs-down"> Dislike</i></button>
    <br>
    <hr>
  <h4> <b>Comments: </b></h4>
    <ul>
    <div *ngFor="let review of deal_reviews | paginate: { itemsPerPage: 5, currentPage: p }">
      <li><p>
      {{ review.comment}}
        <br><i>by:{{ review.owner }}
      at: {{ review.created_at | date:'medium' }}</i>
      </p>
      </li>
    </div>
    </ul>
  </div>
  <div *ngIf="!hasNoReviews() ">
    <!--hide pagination if no comments-->
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div *ngIf="hasNoReviews() ">
    <i>No Comments to display</i>
  </div>
  <hr>

  <div class="row" [hidden]="!isloggedin()">
    <div class="col-md-10 col-lg-10">
      <form class="form-comment" #f="ngForm" (ngSubmit)="postComment(f.value)">
        <h2 class="form-comment-heading">Post your comment</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Submission failed please try again.</div>
        <div *ngIf="successSubmit" class="alert alert-success">Comment submission was successful.</div>
        <label for="comment" class="sr-only">comment</label>
        <input type="text" id="comment" name="comment" ngModel class="form-control" placeholder="comment" required autofocus>
        <label for="deal" class="sr-only">deal</label>
        <input type="hidden" id="deal" name="deal" [(ngModel)]="id" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid" >Submit</button>

      </form>
    </div>
  </div>
  <div class="row" [hidden]="isloggedin()">
    <div class="form-comment" >
      <h2 class="form-comment-heading">Post your comment</h2>
      <div class="alert alert-warning">
        <strong>Warning!</strong> You have to be logged-in to post or to like/dislike.
      </div>

    </div>
  </div>
