<!--register form-->
<form class="form-register" #f="ngForm" (ngSubmit)="register(f.value)">
  <h2 class="form-register-heading">Please register here</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">Username exists.</div>
  <label for="username" class="sr-only">Username</label>
  <input type="username" id="username" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
